h1 {
    font-size: 50px;
    color: burlywood
}

body {
    font-family: 'Gabarito', sans-serif;
    margin: 0%;
}

.division-1 {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.section-1 {
    display: flex;
}

.division-1 img {
    width: 80%;
    padding-top: 10%;
}

.dark-color {
    color: darkcyan;
}

h2 {
    color: goldenrod;
}

.division-2 {
    width: 80%;
    padding-inline: 5%;
}

.section-2 {
    display: flex;
}

.section-2 h3 {
    color: rgb(21, 143, 134);
}

.section-2 div {
    box-shadow: 5px 6px 38px gray;
    height: 100%;
}

#line-up-1 {
    border-left: 7px solid tomato;
}

#line-up-2 {
    border-left: 7px solid palegreen;
    border-image-slice: 1;
}