h1 {
    font-size: 50px;
    color: burlywood
}

body {
    font-family: 'Gabarito', sans-serif;
    margin: 0%;
}

.division-1 {
    width: 100%;
    padding-left: 5%;
}

.section-1 {
    display: flex;
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}

.division-1 img {
    width: 85%;
    padding-top: 10%;
}

.dark-color {
    color: darkcyan;
}

h2 {
    color: goldenrod;
}

.section-2 {
    display: flex;
    margin-bottom: 100px;
}

#number-1 {
    text-align: center;
}

.division-2 {
    width: 80%;
    padding-inline: 5%;
}